/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
/* line 6, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #464646;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
/* line 30, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
/* line 36, ../sass/style.scss */
html {
  background-color: #f0f0f0;
}

/* line 39, ../sass/style.scss */
body {
  line-height: 1;
  background-color: #f0f0f0;
}

/* line 34, ../sass/reset.scss */
/* line 45, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
/* line 50, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
/* line 55, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
/* line 62, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, ../sass/reset.scss */
/* line 68, ../sass/style.scss */
a {
  text-decoration: none;
  color: black;
}

/*start here*/
/* line 74, ../sass/style.scss */
.nav {
  color: white;
}
/* line 76, ../sass/style.scss */
.nav span {
  color: white;
}

/* line 80, ../sass/style.scss */
.searcharea {
  position: relative;
  margin-top: 200px;
  width: 100%;
}
/* line 84, ../sass/style.scss */
.searcharea input {
  width: 50%;
  height: 38px;
  position: relative;
  margin-left: 20%;
}
/* line 91, ../sass/style.scss */
.searcharea .searchBtn span {
  color: white;
}

/* line 97, ../sass/style.scss */
.tagarea {
  min-height: 100px;
  width: 60%;
  position: relative;
  left: 20%;
}
/* line 102, ../sass/style.scss */
.tagarea .tagstar {
  position: relative;
  background-color: #f44336;
}
/* line 106, ../sass/style.scss */
.tagarea .tag {
  position: relative;
}
/* line 108, ../sass/style.scss */
.tagarea .tag .close {
  position: absolute;
  width: 100%;
  right: 0;
  opacity: 0.1;
}
/* line 114, ../sass/style.scss */
.tagarea .tag .close:hover {
  position: absolute;
  opacity: 1;
  width: 100%;
  z-index: 100;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 123, ../sass/style.scss */
.tagarea button {
  margin: 30px 20px 0 0;
}
/* line 125, ../sass/style.scss */
.tagarea button span {
  color: white;
}

/* line 131, ../sass/style.scss */
.selectorarea {
  text-align: center;
}
/* line 133, ../sass/style.scss */
.selectorarea .select {
  margin: 10px 30px;
  display: inline-block;
}

/* line 140, ../sass/style.scss */
.list .searchlistcard {
  max-width: 1080px;
  margin: auto;
  margin-top: 50px;
}
/* line 146, ../sass/style.scss */
.list .searchlistcard .searchList tr.ng-scope:hover {
  background-color: rgba(244, 67, 54, 0.46);
  cursor: pointer;
}
/* line 151, ../sass/style.scss */
.list .searchlistcard .searchList .title td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 155, ../sass/style.scss */
.list .searchlistcard .searchList td {
  height: 30px;
  line-height: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 167, ../sass/style.scss */
.pager {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
/* line 171, ../sass/style.scss */
.pager .pageS {
  margin-right: 10px;
  background-color: white;
  padding: 10px 15px;
  color: #464646;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* line 178, ../sass/style.scss */
.pager .pageS.active {
  background-color: #f44336;
  color: white;
}

/* line 186, ../sass/style.scss */
.course_info_basic {
  position: relative;
  min-height: 300px;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
/* line 193, ../sass/style.scss */
.course_info_basic .rateBtn {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 2;
}
/* line 201, ../sass/style.scss */
.course_info_basic .rateBtn span {
  color: white;
}
/* line 205, ../sass/style.scss */
.course_info_basic .title {
  font-size: 2em;
  margin: 30px 0;
}
/* line 209, ../sass/style.scss */
.course_info_basic .stars {
  margin-top: 20px;
}
/* line 211, ../sass/style.scss */
.course_info_basic .stars img {
  width: 50px;
  margin-left: 20px;
}
/* line 216, ../sass/style.scss */
.course_info_basic .otherContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 50px;
}
/* line 221, ../sass/style.scss */
.course_info_basic .otherContent .cc {
  display: inline-block;
  font-size: 1em;
  margin: 0 20px;
}

/* line 230, ../sass/style.scss */
.commentContainer {
  max-width: 1200px;
  margin: auto;
}
/* line 233, ../sass/style.scss */
.commentContainer .starSelector {
  width: 50px;
  display: inline-block;
}
/* line 238, ../sass/style.scss */
.commentContainer .submitBtn span {
  color: white;
}
/* line 242, ../sass/style.scss */
.commentContainer .comment_card {
  min-height: 200px;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}
/* line 249, ../sass/style.scss */
.commentContainer .comment_card .profile {
  width: 200px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  margin-top: 25px;
}
/* line 256, ../sass/style.scss */
.commentContainer .comment_card .profile .user_img {
  max-width: 100px;
}
/* line 260, ../sass/style.scss */
.commentContainer .comment_card .comment {
  display: inline-block;
  font-size: 1.6em;
  position: relative;
  bottom: 35px;
}
/* line 266, ../sass/style.scss */
.commentContainer .comment_card .stars {
  display: inline-block;
  float: right;
  position: relative;
  top: 70px;
  right: 50px;
}
/* line 272, ../sass/style.scss */
.commentContainer .comment_card .stars img {
  width: 40px;
}
