<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <title></title>

    <meta charset="utf-8"/>
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link data-require="semantic-ui@*" data-semver="0.9.6" rel="stylesheet"
          href="https://raw.github.com/Semantic-Org/Semantic-UI/0.9.6/build/packaged/css/semantic.min.css"/>
    <script data-require="semantic-ui@*" data-semver="0.9.6"
            src="https://raw.github.com/Semantic-Org/Semantic-UI/0.9.6/build/packaged/javascript/semantic.min.js"></script>
    <link rel="stylesheet" href="../stylesheet2/mystyle.css"/>
    <link rel="stylesheet" href="../stylesheet2/ngstyle.css">
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js"
            data-semver="1.2.15"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../javascripts/myapp.js"></script>
    <script src="../javascripts/products.js"></script>
</head>
<body>
<h3>軍訓課</h3>

<div ng-controller="MycourseController as mycourseCtrl" class="list-group">
    <div class="list-group-item">

        <!-- Return the array of "通識"  -->
        <!--{{mycourseCtrl.courses[0]['修課計畫 所有明細'][1]['通識']}}-->

        <!--<input type="button" value="Click" ng-click="getReconmmend()">-->

        <form ng-submit="getReconmmend()">
            <input type="submit" id="submit" value="Submit"/>
        </form>

        </button>

        <div ng-repeat="mycourse in myrecommendCourses" class="list-group-item">
            <h3>Course #{{$index + 1}} {{mycourse.name}}<em
                    class="pull-right">Popularity:&nbsp{{mycourse.score}}</em>
            </h3>

            <div>
                <div>
                    <blockquote>
                        學分數:{{mycourse.credit}} &nbsp &nbsp
                        老師:{{mycourse.teacher}} &nbsp &nbsp
                        系所:{{mycourse.depart}} &nbsp &nbsp
                        學期:{{mycourse.semester}} &nbsp &nbsp
                    </blockquote>
                </div>

            </div>
            <div ng-controller="StoreController as store">
                <product-tabs></product-tabs>
            </div>
        </div>
    </div>
</div>
</body>
</html>