<!DOCTYPE html>
<html ng-app="gemStore">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>MRT Express</title>
    <script type="text/javascript" src="javascripts/angular-1.3.15.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-animate-1.3.15.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-aria-1.3.15.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-material-0.9.7.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet2/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheet2/angular-material-0.9.7.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


    <script src="javascripts/myapp.js"></script>
    <script src="javascripts/products.js"></script>

</head>

<body ng-controller="StoreController as store">

<md-toolbar class="nav">
    <div class="md-toolbar-tools">
        <h2 ng-click='cleanSearch()' style="cursor: pointer;">
            <span>帕森課程查詢系統</span>
        </h2>
        <span flex></span>
        <md-button>
            <a href="person.html">我的推薦</a>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>


<!--  Store Header  -->
<header>
    <h1 class="text-center">NCCU Course Ranking</h1>

    <h2 class="text-center">– Find your course review–</h2>
</header>


<div ng-controller="SearchController as search">
    <div class="lighter">
        <form>
            <span><input type="text" class="search rounded" placeholder="Search..."
                         value="{{selectcollegename}}{{selectdepartname}}"></span>
            <span><input type="button" value="Search"></span>
        </form>
    </div>
</div>
<p>

</p>


<!--  Products Container  -->
<div class="list-group">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">

        <!-- $index Practice:  -->
        <h3>Course #{{$index + 1}}: {{product.name | uppercase}}<em class="pull-right">Score:{{product.popularity}}</em>
        </h3>

        <div>
            <div>
                <blockquote>時間: {{product.date}} &nbsp 系所: {{product.deparment}}</blockquote>
                <blockquote>老師: {{product.teacher}}</blockquote>
            </div>
            <div>
                <blockquote>評論:<p></p>{{product.description}}</blockquote>
            </div>
        </div>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>

    </div>

</div>


<!--<div class="list-group" ng-controller="MycourseController as mycourses">-->
<!--&lt;!&ndash;  Product Container  &ndash;&gt;-->
<!--<div class="list-group-item"  ng-model="courses">-->
<!--{{courses}}-->

<!--&lt;!&ndash; $index Practice:  &ndash;&gt;-->
<!--<h3>Course #{{$index + 1}}: {{course.修課計畫 所有明細 | uppercase}}<em class="pull-right">Course:{{course.修課計畫 所有明細}}</em>-->
<!--</h3>-->

<!--&lt;!&ndash; Image Gallery  &ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="product.images.length" ng-controller="GalleryController as gallery">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="img-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;<img ng-src="{{product.images[gallery.imageIndex]}}" class="img-thumbnail center-block" />&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="img-thumbnails clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;<li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.currentImageChange($index)">&ndash;&gt;-->
<!--&lt;!&ndash;<img ng-src="{{image}}" />&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div>-->
<!--<div>-->
<!--<blockquote>時間: {{product.date}} &nbsp 系所: {{product.deparment}}</blockquote>-->
<!--<blockquote>老師: {{product.teacher}}</blockquote>-->
<!--</div>-->
<!--<div>-->
<!--<blockquote>評論:<p></p>{{product.description}}</blockquote>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Product Tabs  &ndash;&gt;-->
<!--<product-tabs></product-tabs>-->

<!--</div>-->
<!--</div>-->


</body>

</html>
