<section>
    <!--  Tab Navigation  -->
    <ul class="nav nav-pills">
        <!--<li ng-class="{ active:tab.isSet(1) }">-->
            <!--<a href="" ng-click="tab.setTab(1)">Description</a>-->
        <!--</li>-->
        <!--<li ng-class="{ active:tab.isSet(2) }">-->
            <!--<a href="" ng-click="tab.setTab(2)">Detail</a>-->
        <!--</li>-->
        <!--<li ng-class="{ active:tab.isSet(3) }">-->
            <!--<a href="" ng-click="tab.setTab(3)">Reviews</a>-->
        <!--</li>-->
        <!--<li ng-class="{ active:tab.isSet(4) }">-->
            <!--<a href="" ng-click="tab.setTab(4)">MyCourse</a>-->
        <!--</li>-->
        <li ng-class="{ active:tab.isSet(4) }">
            <a href="" ng-click="tab.setTab(4)">All My Courses</a>
        </li>
        <li ng-class="{ active:tab.isSet(5) }">
            <a href="" ng-click="tab.setTab(5)">General Course</a>
        </li>
        <li ng-class="{ active:tab.isSet(6) }">
            <a href="" ng-click="tab.setTab(6)">PE Course</a>
        </li>
        <li ng-class="{ active:tab.isSet(7) }">
            <a href="" ng-click="tab.setTab(7)">Service Course</a>
        </li>
        <li ng-class="{ active:tab.isSet(8) }">
            <a href="" ng-click="tab.setTab(8)">Required Course</a>
        </li>
        <li ng-class="{ active:tab.isSet(9) }">
            <a href="" ng-click="tab.setTab(9)">Elective Courses</a>
        </li>
        <li ng-class="{ active:tab.isSet(10) }">
            <a href="" ng-click="tab.setTab(10)">Military Courses</a>
        </li>
        <li ng-class="{ active:tab.isSet(11) }">
            <a href="" ng-click="tab.setTab(11)">My Recommendation</a>
        </li>
    </ul>
    <!--&lt;!&ndash;  Description Tab's Content  &ndash;&gt;-->
    <!--<descriptions ng-show="tab.isSet(1)"></descriptions>-->
    <!--&lt;!&ndash;  Spec Tab's Content  &ndash;&gt;-->
    <!--<specs ng-show="tab.isSet(2)"></specs>-->
    <!--&lt;!&ndash;  Review Tab's Content  &ndash;&gt;-->
    <!--<reviews ng-show="tab.isSet(3)">hi</reviews>-->
    <!--<mycourses ng-show="tab.isSet(4)">haha</mycourses>-->
    <allmycourses ng-show="tab.isSet(4)"></allmycourses>
    <generalcourses ng-show="tab.isSet(5)">ddddddddddddddddd</generalcourses>
    <pecourses ng-show="tab.isSet(6)"></pecourses>
    <servicecourses ng-show="tab.isSet(7)">abcdefg</servicecourses>
    <requiredcourses ng-show="tab.isSet(8)">88888</requiredcourses>
    <electivecourses ng-show="tab.isSet(9)">99999</electivecourses>
    <militarycourses ng-show="tab.isSet(10)">10ffdfbgdsb</militarycourses>
    <myrecommendation ng-show="tab.isSet(11)">vfadvdsv</myrecommendation>
</section>


<!--$scope.serviceCourses = mycourseinfo[0]['修課計畫 所有明細'][4]['服務學習課程'];-->
<!--$scope.requiredCourses = mycourseinfo[0]['修課計畫 所有明細'][6]['已修習之專業必修科目明細'];-->
<!--$scope.electiveCourses = mycourseinfo[0]['修課計畫 所有明細'][7]['選修明細'];-->
<!--$scope.militaryCourses = mycourseinfo[0]['修課計畫 所有明細'][8]['選修軍訓'];-->

<!--}]);-->
